Source: seiko-converter
Section: contrib/python
Priority: optional
Maintainer: Ysard <ysard_git@gmx.fr>
Build-Depends: debhelper (>= 9.20160709), python3 (>= 3.6), python3-setuptools, python3-numpy (>= 1.19.5), python3-matplotlib, python3-pandas (>=2.0)
Standards-Version: 3.9.6
Homepage: https://github.com/ysard/seiko_qt2100_converter
Vcs-Git: https://github.com/ysard/seiko_qt2100_converter

Package: seiko-converter
Architecture: all
Depends: dpkg (>= 1.16.1), adduser (>= 3.11), python3 (>= 3.6), ${python3:Depends}, ${misc:Depends}
Description: A software to generate graphs based on the raw data produced by the Seiko Qt-2100 Timegrapher device
  The specific aim of this project is to process the print data from this
  device, making it readable, usable and printable again according to current
  modern standards.
